html {
	background:#DCDCDC;
}
body {
	background:white;
	width:980px;
	margin:auto;
	padding: 2%;
	padding-bottom:1%;
	font-family:Verdana, Arial, sans-serif;
}
h1, h3{
	color:#900;
}
p {
	color:gray;
	font-size:12px;
	margin-top:0px;
}
nav {
	}
	
	nav ul {
		background-color:#900;
		padding:0px;
		margin:0px;
	}
	nav li{
		padding:0px;
		margin:0px;
		list-style:none;
		display:inline-block;
		line-height:25px;
		text-align:left;
		width:auto;
		border-right:solid 1px #DCDCDC;
	}
	nav li a{
		font-size:12px;
		font-weight:bold;
		background-color:#900;
		color:white;
		text-decoration:none;
		padding-left:10px;
		padding-right:10px;
	}
	nav li a:hover {
		background-color:gray;
	}
	nav li:hover {
		background-color:gray;
	}
	nav li a.active {
		background-color:gray;
	}
	nav li.active {
		background-color:gray;
	}

#my_network {
	color:gray;
	display:inline-block;
}
#my_network a: hover {
	color:#900;
}
#python_return{
	display:block;
	border: solid 1px gray;
	height:1000px;
	width:auto;
	
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
	text-align:center;
}

footer ul {
	padding:0;
	margin:0;
}
footer li {
	display:inline-block;
	list-style:none;
	line-height:25px;
	width:32.9%;
}
footer li p{
	font-size:10px;
	color:gray;
	margin:0;
}
#date {
	text-align:right;
}
#created{
	text-align:center;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}